.divButtons {
    text-align: center;
}

.ant-message-success .anticon {
    color: #75b209;
}

.ant-btn-primary {
    color: #fff !important;
    background-color: #75b209;
    border: #75b209;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
    color: #fff;
    background: #75b209;
}

.ant-btn {
    color: #40a9ff;
}

