.site-tag-plus {
    background: #fff;
    border-style: dashed;
}
.edit-tag {
    user-select: none;
}
.tag-input {
    width: 78px;
    margin-right: 8px;
    vertical-align: top;
}
[data-theme="dark"] .site-tag-plus {
    background: transparent;
    border-style: dashed;
}

.tagsYearRowDiv {
    margin: 25px 0 25px;
}

.tagsCountryRowDiv {
    margin: 0 0 25px;
}

.tagsYearLabelDiv {
    margin-left: 50px;
    font-weight: 700;
}

.tagsYearContentDiv {
    margin-left: 5px;
}

.tagsCountryLabelDiv {
    margin-left: 25px;
    font-weight: 700;
}

.tagsCountryContentDiv {
    margin-left: 5px;
}