.addArticleDiv {
    margin: 0 0 25px;
    text-align: center;
}

.imgDivLabel {
    text-align: center;
}

.imgDivPreview{
    margin: 25px 0 0;
}

.divButtons {
    text-align: center;
}

.article-comment-form button {
    outline: 0;
    outline-offset: 0;
}

.article-comment-form button a {
    color: #fff;
    border: 2px solid #75b209;
}

.article-comment-form button:hover a {
    color: #75b209;
    border: 0 solid #75b209;
    background: #fff;
}

.ant-btn-primary {
    color: #fff !important;
    background-color: #75b209;
    border: #75b209;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus {
    color: #fff;
    background: #75b209;
}

.ant-btn {
    color: #40a9ff;
}

.mp-thumb:hover .link {
    z-index: 10;
}
