.addArticleDiv {
    text-align: center;
}

.imgDivLabel {
    text-align: center;
}

.imgDivPreview {
    margin: 25px 0 0;
}

.divMargin {
    margin: 25px 0 0;
}

.divButtons {
    text-align: center;
}

.article-comment-form button {
    outline: 0;
    outline-offset: 0;
}

.article-comment-form button a {
    color: #fff;
    border: 2px solid #75b209;
}

.article-comment-form button:hover a {
    color: #75b209;
    border: 0 solid #75b209;
    background: #fff;
}

.ant-btn-primary {
    color: #fff !important;
    background-color: #75b209;
    border: #75b209;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
    color: #fff;
    background: #75b209;
}

.ant-btn {
    color: #40a9ff;
}

.ant-tag {
    border: 1px solid #75b209;
}

.mp-thumb:hover .link {
    z-index: 10;
}

.articleImg {
    padding-bottom: 70%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rmoreBlog {
    position: absolute;
    width: 0;
    height: 0;
    top: 42%;
    left: 50%;
    background: rgba(255, 255, 255, 0.8);
    transition: 0.3s;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
}

.rmoreBlog a {
    padding: 9px 18px;
    background: #75b209;
    display: table;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Roboto;
    font-size: 14px;
    color: #FFF;
    position: relative;
    font-weight: 300;
    border: 1px solid #75b209;
}

.rmoreBlog a:hover {
    background: transparent;
    color: #75b209;
    border-color: #75b209;
}

#m-blog .item:hover .rmoreBlog {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#m-blog-content .item:hover .rmoreBlog {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}